.Todo{
  border-radius: 5px;
  border: 1px solid black;
  padding :5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Todo:not(:last-child){
  margin-bottom: 5px;
}

.Todo__content{
  display: flex;
  flex-direction: column;
}

.Todo__todoButtons{
  display: flex;
  flex-direction: column;
}