.writeTodo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}
.writeTodo :not(:last-child){
  margin-bottom: 5px;
}

.writeTodo input {
  outline: none;
  border: 1px solid rgba(0,0,0,.5);
  background-color: lightgray;
  padding: 8px 12px 10px 12px;
}

.writeTodo input:last-child{
  background-color: lightslategray;
}